*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    background-color: #0B3954;
    text-align: center;
}
.container{
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}
.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    box-shadow:0 0 1rem rgba(0,0,0,0.4);
    background: #BFD7EA;
    font-size: 10vmin;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FF6663;
}
#reset{
    margin-top: 2rem;
    padding: 1rem 2rem;
    font-size: 1.5rem;
    border: none;
    border-radius: 0.5rem;
    background-color: #FF6663;
    color: white;
    cursor: pointer;
}
.winner{
    /* height: 2\vmin; */
    color: #E0FF4F;
    padding: 3vmin;
}
.newgame{
    background: #E0FF4F;
    border-radius: 1rem;
    padding: 0.6rem 1rem;
    border: none;
}
.hide{
    display: none;
}